<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ISRAEL</title>
    <link href="../css/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

</head>

<body>
    <header>
        <div class="container">
            <nav class="navbar">
                <a href="/" class="nav-branding">Node.js and Mongoose DB</a>
                <ul class="nav-menu">
                    <li class="nav-link"><a class="nav-links" href="/redirectRoutes/index-node">Home</a></li>
                    <li class="nav-link"><a class="nav-links" href="product.html">Product</a></li>
                    <li class="nav-link"><a class="nav-links" href="order.html">Order</a></li>
                    <li class="nav-link"><a class="nav-links" href="/users/user-management">User</a></li>
                    <li class="nav-link"><a class="nav-links" href="/users/signup">Signup</a></li>
                    <li class="nav-link"><a class="nav-links" href="/users/login">Login</a></li>
                    <li class="nav-link"><a class="nav-links" href="/redirectRoutes/about">About</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="auth-error-page">
        <h1 class="auth-h1">Authentication Failed 401</h1>
        <p class="auth-p">You are not logged or you don't have the credentials to access this function</p>
        <br>
        <p><a href="/users/login">Clik here to Login</a></p>
        <div class="auth-alert-image">
            <img src="/images/warning-alert.png" class="display-user-alert-image" />
        </div>
    </div>

</body>

</html>